* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_container {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.navbar {
  flex-direction: row;
  /* 요소 너비들이 넘치더라도 그냥 튀어나옴 */
  flex-wrap: nowrap;
  width: 100%;
  height: 77px;
  justify-content: space-evenly;
  display: flex;
}
button {
  margin: 5px;
}
.btnlogin {
  padding-left: 3px;
  padding-right: 3px;
  height: 20px;
  text-align: center;
  color: white;
  background-color: gray;
  border: none;
  font-size: 12px;
}
.navtext {
  font-size: 12px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  display: flex;
}
.nav_img {
  height: 13px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
}
.search-bar {
  width: 122 px;
  height: px;
  border-radius: 5px;
  border: solid 1px black;
  display: flex;
  justify-content: left;
  align-items: left;
  z-index: 1;
  opacity: 1;
}
.search-bar__input {
  width: 50px;
  border: none;
  text-align: left;
  margin-left: 10px;
  overflow: auto;
  z-index: -1;
  font-size: 12px;
}

.search-bar__input:focus {
  outline: none;
  width: 300px;
  text-align: left;
}

.fa-search {
  font-size: 15px;
}
.search_icon {
  text-align: center;
  size: 5px;
  margin: 3px;
}
.menu {
  flex-direction: row;
  width: 100%;
  height: 40px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
}

.nav2 {
  flex-grow: 1;
  background-color: #0096e6;
  color: white;
  height: 100%;
  box-shadow: 2px 3px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav3 {
  background-color: #f3f3f3;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.iconcolor {
  color: #b0b0b0;
  margin: 3px;
}
.btncolor {
  color: #555555;
  background-color: white;
  border: 1px solid #555555;
  border-radius: 2px;
  margin: 3px;
}
.text {
  font-size: 12px;
  margin: 3px;
}
.items {
  display: flex;
  width: 100%;
  justify-content: center;
}

.items a {
  display: block;
  background-repeat: no-repeat;
  letter-spacing: -2px;
  width: 105px;
  padding-top: 50px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.q1 {
  background-position: 50% 7px;
  background-image: url(https://spot.wooribank.com/img/section/ln/main/bg_main_quick_1.gif);
}
.q2 {
  background-position: 50% 10px;
  background-image: url(https://spot.wooribank.com/img/section/ln/main/bg_main_quick_2.gif);
}
.q3 {
  background-position: 50% 10px;
  background-image: url(https://spot.wooribank.com/img/section/ln/main/bg_main_quick_3.gif);
}
.q4 {
  background-position: 50% 10px;
  background-image: url(https://spot.wooribank.com/img/section/ln/main/bg_main_quick_4.gif);
}
.q5 {
  background-position: 50% 10px;
  background-image: url(https://spot.wooribank.com/img/section/ln/main/bg_main_quick_5.gif);
}
.q6 {
  background-position: 50% 10px;
  background-image: url(https://spot.wooribank.com/img/section/ln/main/bg_main_quick_6.gif);
}
.q7 {
  background-position: 50% 10px;
  background-image: url(https://spot.wooribank.com/img/section/ln/main/bg_main_quick_7.gif);
}
.q8 {
  background-position: 50% 10px;
  background-image: url(https://spot.wooribank.com/img/section/ln/main/bg_main_quick_8.gif);
}
.q9 {
  background-position: 50% 10px;
  background-image: url(https://spot.wooribank.com/img/section/ln/main/bg_main_quick_9.gif);
}
a:hover {
  text-decoration: underline;
  color: #0096e6;
}
a {
  color: #555555;
  text-decoration: none;
}
.contentImg {
  display: flex;
  font-size: 0;
}
.loanCalculator {
  background-color: #f3f3f3;
  width: 659px;
  height: 275px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.contentImg-column {
  display: flex;
  flex-direction: column;
}
.Calculator-left {
  width: 230px;
  height: 230px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}
.waySelect {
  position: relative;
  height: 25px;
  vertical-align: middle;
  border: 1px solid #d1d1d1;
  padding: 2px 2px 2px 0 !important;
  margin: -1px 0 0 2px;
  font-size: 0.9rem;
  padding: 2px 5px;
}
.leftContent {
  font-size: 13px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.principal {
  width: 85px;
  height: 20px;
}
.imgcalcu {
  width: 660px;
  height: 257px;
}
.emtybox {
  width: 100%;
  height: 30px;
}
.bottomset {
  height: auto;
  width: 100%;
  flex: 1;
  border-right: 1px solid #555555;
}
.bottomset_last {
  border-right: 0px solid #555555;
}
.titletext {
  font-size: 15px;
  margin-left: 15px;
}
.titletext h3 {
  margin-bottom: 10px;
}
.titletext li {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 13px;
}
.bottomset_last li {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 15px;
}
.bottomset_last span {
  font-size: 13px;
  font-weight: 100;
}
.bottomimg {
  width: 90%;
}
.content_text {
  display: flex;
}
.contenttext {
  justify-content: flex-start;
  margin-right: 13px;
}
.bottomimgstar {
  width: 150px;
  height: auto;
}
footer {
}
footer .link_sns_links_flex {
  display: flex;
  justify-content: space-between;
}
footer .line_block {
  border-top: 2px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  background: #f8f8f8;
  padding: 10px 0;
}
.js-display-hover {
  margin: 0;
}
.more {
  display: flex;
}
footer .links .js-display-hover-trigger {
  display: inline-block;
  width: 154px;
  color: #000;
  text-align: center;
  font-size: 12px;
  border-right: 1px solid #ddd;
  padding-right: 30px;
  background-position: 126px center;
}
footer .links,
.sns-links {
  display: flex;
}
footer .sns-links a {
  margin: 0 5px;
}

footer .footer_logo_a_flex {
  display: flex;
  justify-content: left;
  margin: 20px 0 40px;
}
footer .left_logo {
  width: 100px;
  text-align: center;
  margin: 5px 0 0;
}
footer .quick {
  margin: 0;
  color: #666;
  font-size: 11px;
  letter-spacing: 0;
}
footer .quick a {
  color: #7f7f7f;
  line-height: 20px;
  font-size: 12px;
}
footer .quick a:hover {
  color: #7f7f7f;
}
footer .quick .font-bold {
  font-weight: bold;
}
footer .right-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .info .copyright {
  color: #7f7f7f;
  font-family: Arial;
  font-size: 11px;
}
footer .info2 {
  padding: 25px;
}
footer .info2 .js-display-hover {
  display: inline;
}
