@font-face {
    font-family: '이쁜폰트';
    src: url(../font/NanumSquareAcB.woff);
}
div,input,textarea {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: '이쁜폰트';
}


.profile {
    width: 100px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.title {
    text-align: center;
    font-size: 16px;
}

.content {
    text-align: center;
}

.box {
    width: 200px;
    background-color: cadetblue;
    margin: 30px;
    padding: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 5px 5px balck;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.header { 
    width: 100%;
    height: 50px;
    background: aquamarine;
}

.left-menu {
    width: 20%;
    height:  400px;
    background: cornflowerblue;
    display: inline-block;
    vertical-align: top;
}

.right {
    width: 80%;
    height: 400px;
    background: coral;
    display: inline-block;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: grey;
}

.blog-content {
    width: 80%;
    height: 200px;
    float: left;
}

.left-top {
    width: 100%;
    height: 40%;
}

.left-bottom {
    width: 100%;
    height: 60%;
    float: left;
}

.blog-img {
    width: 20%;
    height: 200px;
    float: left;
}

.blog-profile {
    width: 50px;
    display: block;
    float: left;
}

.blog-name {
    float: left;
}

.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.navbar a{
    font-size: 16px;
    text-decoration: none;
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/tree.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    color: white;
    text-align: center;
    position: relative
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 200px;
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    z-index: 5;
}

.explain-box {
    width: 700px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -40px;
}

.text-align {
    padding: 10px;
    font-size: 20px;
    border: 1px solid balck;
    border-radius: 5px;
}

.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid balck;
    border-radius: 5px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.yellow-button {
    padding: 10px;
    display: block;
    margin-left: auto;
}


table {
    border-collapse: collapse;
}

.cart-background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background: white;
    border-radius: 10px;
}

.cart-table td,.cart-table th {
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}

.cell-long {
    width: 700px;
}

.cart-table th:nth-child(2) {
    width: 400px;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: chocolate;
}
.btn:active {
    background-color: brown;
}
.btn:focus {
    background-color: gray;
}

.input-test {
    font-size: 20px;
}

.input-test:focus {
    border-bottom: 2px solid red;
}

.custom-link {
    text-decoration: none;
}

.custom-link:link {
    color: violet;
}

.custom-link:visited {
    color: black;
}

.f-small {
    font-size: 12px;
}

.f-mid {
    font-size: 16px;
}

.f-lg {
    font-size: 20px;
}

.main-btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.bg-red {
    background: red;
}

.bg-blue {
    background: blue;
}