.contact-style {
    position: relative;
    font-size: 40px;
    margin: 20px;
    font-weight: 500;
}

.input-title {
    margin-left: 30px; 
}

.fname-title {
    position: relative;
    top: 0px;
    margin-left: 30px; 
}

.lname-title {
    position: relative;
    top: -38px;
    left: 215px

}

.example-style {
    position: relative;
    margin-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    width: 330px;
    margin-top: -20px;
}

.border-style {
    border-color: lightgray;
    border-radius: 5px;
}

.Lname-style {
    position: relative;
    top: -45px;
    margin-left: 30px;
    padding: 10px;
    width: 145px;
}

.Rname-style {
    position: relative;
    top: -45px;
    margin-left: 8px;
    padding: 10px;
    width: 145px;
}

.mtitle {
  position: absolute;
  top: 29.5%;
  margin-left: 30px;  
}

.message-style {
    position: absolute;
    top: 35%;
    margin-left: 30px;
    width: 330px;
    height: 120px;
    padding: 8px;
}

.checkbox-style {
    position: absolute;
    top: 51.3%;
    margin-left: 30px;
    margin-top: 25px;

}

.sublabel {
    font-size: 14px;
    position: absolute;
    top: 50.8%;
    left: 2.2%;
}

.send-style {
    height: 25px;
    position: absolute;
    top: 53%;
    left: 15%;
    background: rgb(243, 181, 66);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    margin-left: 155px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}