

 .test {
    width: 100vw;
    height: 10vh;
    background: gray;
}

.main-background {
    width: 100vw;
    height: 50vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    margin: 10px;
    color: white;
    font-size: 35px;
    margin-bottom: 60px;
}

.nasa-content {
    color: white;
    font-family: serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.nasaButton {
    padding: 5px;
    margin-left: 45%;
    margin-top: 8%;
    opacity: 75%;
    background: lightgray;
    width: 115px;
    height: 45px;
    font-size: 20px;
    border-radius: 35px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: black;
    border: none;
  }

.bottom-box{
    background: rgb(223, 221, 221);
    margin: auto;
    width: 700px;
    height: 300px;
    padding: 20px;
    text-align: center;
    position: relative;
    top: -50px;
}

.sub-title {
    margin: 0;
    padding-top: 40px;
    font-size: 25px;
}

.sub-content {
    margin: 0;
    padding-top: 40px;
    font-size: 20px;
    font-weight: lighter;
}