.mainImage {
  height: 405px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.monami {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  display: block;
  text-align: center;
}

.green {
  color: green;
  font-weight: bold;
}

.title {
  text-align: center;
  letter-spacing: 10px;
}

.box {
  background-color: rgb(244, 255, 244);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid green;
  width: 250px;
  height: 250px;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 5px 5px lightgray;
  text-align: center;
}

.intro {
  margin-left: 0.5px;
  margin-right: 1px;
  font-size: 18px;
}

.list {
  margin-top: 1px;
  list-style-type: none;
  text-align: left;
}
