.background {
    /* background: rgb(221, 221, 221); */
    width: 100%;
    height: 130px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.background div {
    float: left;
    width: 25%;
    text-align: center;
}

.background i {
    background-color: burlywood;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding-top: 18px;
    margin-top: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .background {
        height: 250px;
    }
    .background div{
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .background {
        height: 480px;
    }
    .background div{
        width: 100%;
    }
}