.background {
    /* background: rgb(221, 221, 221); */
    width: 100%;
    height: 130px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.background div {
    float: left;
    width: 25%;
    text-align: center;
}

.background i {
    background-color: burlywood;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding-top: 18px;
    margin-top: 10px;
    box-sizing: border-box;
}

.shop-back {
    background: lightgrey;
    padding-left: 20px;
}

.shop-contain {
    display: flex;
    margin: auto;
}

.overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
} /*넘치는 부분 자르기*/

.overlay-wrap:hover .overlay{ /*커서를 사진에 올렸을 때*/
    opacity: 1;
    margin-top: 50%; /*최종 스타일(100% 불투명 & margin top)*/
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; /*시작 스타일(100% 투명)*/
    margin-top: 100%; 
    transition: all 0.5s;
}


.overlay p {
    color: white;
    font-weight: bold;
    margin: 10px;
}

.shop-item {
    padding:20px;
    width: 33.33%;
}

.shop-item img {
    width: 100%;
    display: block;
}


@media screen and (max-width: 768px) {
    .background {
        height: 250px;
    }
    .background div{
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .background {
        height: 480px;
    }
    .background div{
        width: 100%;
    }
}