p, h1, h2, h3, h4 {
    margin: 0;
    line-height: 100%;
}

button:hover {
    cursor: pointer;
}

ul, li {
    list-style: none;
}

.bg {
    width: 100vw;
    height: 100vh;
}

.navbar-top {
    display: flex;
    padding-top: 30px;
    margin: 0 auto;
    width: 950px;
    height: 45px;
}

.navbar-top div, button, img, a{
    margin-right: 5px;
}

.woori-logo {
   width: 31px;
   margin-top: -3px;
}

.login-btn {
    background: rgb(104, 104, 104);
    color: white;
    width: 55px;
    height: 21px;
    border-radius: 5px;
    border: none;
    font-size: 11px;
    
}

.main-logo {
    width: 90px;
    height: 24px;
}

.center-font {
    font-size: 11.7px;
    padding-top: 3px;
}

.side-wrap {
    margin-left: 220px;
    display: flex;
}

.input input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #a0a0a0;
    width: 130px;
    box-sizing: border-box;
    height: 26px;
    display: flex;
    outline: none;
}

.input i {
  position: relative;
  left: 115px;
  top: -25px;
}

.navbar-bottom {
    width: 950px;
    display: flex;
    margin: 0 auto;
}

.navbar-bottom div {
    background-color: rgb(0, 136, 0);
    color: white;
    padding-left: 25.05px;
    padding-right: 25.05px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nb-menu {
   background: rgb(0, 80, 0); 
    padding-left: 25.05px;
    padding-right: 25.05px;
}

.nb-menu i {
    font-size: 25px;
    background: rgb(0, 80, 0); 
}

.navbar-end {
    display: flex;
    width: 950px;
    height: 40px;
    margin: 0 auto;
    background: rgb(233, 233, 233);
    border-radius: 5px;
    box-shadow: 0 4px 4px -4px darkgray;
    box-sizing: border-box;
}

.navbar-end i {
    margin-left: 15px;
    margin-top: 13px;
}

.navbar-end p {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 8px;
    margin-top: 13px;
}

.side-btn {
    padding-top:8px;
    padding-left: 670px;
}

.side-btn button {
    outline: 1.5px solid lightgray;
    border: none;
    background: white;
    border-radius: 3px;
}

.list-wrap {
    padding-right: 30px;
    padding-top: 10px;
}

.list-wrap ul {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.list-wrap li {
    float: left;
}

.list-wrap em {
    font-size: 13px;
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    
}

.list-wrap li, a, em {
    display: block;
}

.list-wrap img {
    padding-right: 30px;
    padding-left: 30px;
}

.content img{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
html, body{
    margin:0;
    padding:0;
}

.width_px{
    width:950px;
    margin:0 auto;
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration: underline;
}

footer{width: 100vw}

footer .link_sns_links_flex{
    display:flex;justify-content: space-between;}

footer .line_block{
    border-top:2px solid #d4d4d4;border-bottom:1px solid #d4d4d4;
    background:#F8F8F8;padding:10px 0;}

.js-display-hover{
    margin:0;
}


.more{display:flex;}

footer .links .js-display-hover-trigger{
    display: inline-block;width:154px;color:#000;text-align:center;font-size:12px;border-right: 1px solid #ddd;padding-right: 30px;background-position: 126px center;
}

footer .links, .sns-links{display:flex;}
footer .sns-links a{margin:0 5px;}
