body{
    background-color:cadetblue;
}

table{
    border-collapse: collapse;
    margin: auto;
    background-color: white;
    max-width: 700px;
    border-radius: 10px;
}

td,th {
    /* border: 1px solid cadetblue; */
    border-bottom : 1px solid cadetblue;
}

.top{
    text-align: center;
}


.img-input{
    display: grid;
    grid-template-columns: 30% 70%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-area{
    text-align: left;
    padding-left: 20px;
}

.text-area p{
    color:cadetblue;
}

footer{
    margin: auto;
    max-width: 700px;
    display: grid;
    grid-template-columns: 70% 30%;
}

footer div{
    text-align: left;
    margin-top: 40px;
}

button{
    margin-top: 10px;
    padding: 30px;
}

.btn:hover{
    background-color: aquamarine;
}